<% if current_spree_vendor %>
  <li data-hook>
    <span class="d-none d-xl-inline-block cart-icon--xl">
      <%= icon(name: 'isell/shop-2',
               width: 36,
               height: 36)  %>
    </span>
    <span class="d-xl-none">
      <%= icon(name: 'isell/shop-2',
               width: 27,
               height: 27)  %>
    </span>
  </li>
<% end %>